{% extends 'main.html' %}
{% load static %}
{% block title %}Ahub|Gallery Page{% endblock title %}

{% block content %}

    <h1>Gallery</h1>
    {% for item in gallery_items %}
        <h2>{{ item.title }}</h2>
        {% if item.image %}
            <img src="{{ item.image.url }}" alt="{{ item.title }} image">
        {% endif %}
        {% if item.video_url %}
            <iframe width="560" height="315" src="{{ item.video_url }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        {% endif %}
        
    {% endfor %}
    {% endblock content %}

